/* Smooth scrolling */
html { scroll-behavior: smooth; }
/* Hide scrollbar for cleaner look */
::-webkit-scrollbar { width: 0px; background: transparent; }
body { -ms-overflow-style: none; scrollbar-width: none; }

.clip-arch {
  clip-path: ellipse(100% 100% at 50% 0%);
}